{% extends 'layouts/application.html' %}

{% block content %}
<header class="header">
  <div class="hero">
    <div class="marquee-container" aria-hidden="true">
      <p class="marquee">
        <span>The Astro Forecast</span>
        <span>☉</span>
        <span>The Astro Forecast</span>
        <span>☽</span>
        <span>The Astro Forecast</span>
        <span>☿</span>
        <span>The Astro Forecast</span>
        <span>♀</span>
        <span>The Astro Forecast</span>
        <span>♂</span>
        <span>The Astro Forecast</span>
        <span>♃</span>
        <span>The Astro Forecast</span>
        <span>♄</span>
        <span>The Astro Forecast</span>
        <span>♅</span>
        <span>The Astro Forecast</span>
        <span>♆</span>
        <span>The Astro Forecast</span>
        <span style="margin-right: 0.3rem;">♇</span>
      </p>
      <p class="marquee">
        <span>The Astro Forecast</span>
        <span>☉</span>
        <span>The Astro Forecast</span>
        <span>☽</span>
        <span>The Astro Forecast</span>
        <span>☿</span>
        <span>The Astro Forecast</span>
        <span>♀</span>
        <span>The Astro Forecast</span>
        <span>♂</span>
        <span>The Astro Forecast</span>
        <span>♃</span>
        <span>The Astro Forecast</span>
        <span>♄</span>
        <span>The Astro Forecast</span>
        <span>♅</span>
        <span>The Astro Forecast</span>
        <span>♆</span>
        <span>The Astro Forecast</span>
        <span style="margin-right: 0.3rem;">♇</span>
      </p>
    </div>
  </div>
</header>

<main class="main">
  <img
    class="logo"
    src="images/logo1x.png"
    srcset="images/logo1x.png 1x, images/logo2x.png 2x"
    alt=""
  >
  <!-- <div class="link-container link-container1">
    <a href="/february.html" class="link link1" rel="noopener noreferrer">February Forecast</a>
    <div class="link-shadow link-shadow1"></div>
    <div class="coming-soon">NEW!</div>
  </div> -->
  <div class="link-container link-container1">
    <a href="2020%20Forecast%20(The%20Astro%20Forecast).pdf" class="link link1" rel="noopener noreferrer">2020 Forecast</a>
    <div class="link-shadow link-shadow1"></div>
    <div class="coming-soon">NEW!</div>
  </div>
  <div class="link-container">
    <a href="/about.html" class="link link2">About Me</a>
    <div class="link-shadow link-shadow2"></div>
  </div>
</main>
{% endblock %}
