{% extends 'layouts/application.html' %}

{% block content %}
<header class="header">
  <div class="hero">
    <nav>
      <ul class="nav">
        <li><a href="/" class="nav__item">← Back</a></li>
        <li><a class="nav__item link-active">Book a Reading</a></li>
      </ul>
    </nav>
  </div>
</header>

<main style="padding: 2.25rem 1rem;">
  <h1 class="about-title">Book a Reading</h1>

  <section class="work-with-me">
    <p style="max-width: 405px;margin: 1.5rem auto 0;text-align: center;line-height: 1.45;padding: 1.5rem;background: #eaffc5; font-family: Helvetica, Arial, sans-serif;">My private readings are currently closed as I focus on other projects.<br><br>The best way to work with me directly is to join my membership program, the <a href="https://www.lunarmission.club/" target="blank" rel="noopener noreferrer" class="work-link">Lunar Mission Club</a>.<br><br>That's where I answer personal questions about your birth chart through comments, messages, and periodic Q&A sessions. You will also receive monthly classes, forecasts, and priority access to me on Instagram DMs.</p>

    <p style="max-width: 405px;margin: 1.5rem auto 0;text-align: center;line-height: 1.45;padding: 1.5rem;background: #f6c0ff; font-family: Helvetica, Arial, sans-serif;font-style: italic;">
      Subscribe to my free <a href="https://predictiveastrology.us4.list-manage.com/subscribe?u=1662e9af62da9902ae57320d0&id=e0d40a7782" target="blank" rel="noopener noreferrer" class="work-link">email newsletter</a> for weekly updates on the astrological weather.
      <br><br>
      Follow on Instagram at <a href="https://www.instagram.com/astro.forecast/" target="blank" rel="noopener noreferrer" class="work-link">astro.forecast</a> for horoscopes and educational videos!
    </p>
  </section>
  </main>
{% endblock %}