{% extends 'layouts/application.html' %}

{% block content %}
<header class="header">
  <div class="hero">
    <nav>
      <ul class="nav">
        <li><a href="/" class="nav__item">← Back</a></li>
        <li><a class="nav__item link-active">Book a Reading</a></li>
      </ul>
    </nav>
  </div>
</header>

<main style="padding: 2.25rem 1rem;">
  <h1 class="about-title">Book a Reading</h1>

  <section class="work-with-me">
    <p style="max-width: 425px;margin: 1.5rem auto 0;text-align: center;line-height: 1.45;padding: 1.75rem;background: #eaffc5; font-family: Helvetica, Arial, sans-serif;">Due to a high volume of interest, I am only accepting clients off the waitlist at this time. <br><br>Please email me at <a href="mailto: hey@predictiveastrology.com" class="work-link">hey@predictiveastrology.com</a> to be placed on the list.<br><br>My readings are $155 for an hour-long session, held online via Zoom.</p>

    <p style="max-width: 425px;margin: 1.5rem auto 0;text-align: center;line-height: 1.45;padding: 1.75rem;background: #f7c4ff; font-family: Helvetica, Arial, sans-serif;font-style: italic;">
      Subscribe to my free <a href="https://predictiveastrology.us4.list-manage.com/subscribe?u=1662e9af62da9902ae57320d0&id=e0d40a7782" target="blank" rel="noopener noreferrer" class="work-link">email newsletter</a> for weekly updates on the astrological weather.
      <br><br>
      Follow on Instagram at <a href="https://www.instagram.com/astro.forecast/" target="blank" rel="noopener noreferrer" class="work-link">astro.forecast</a> for horoscopes and educational videos!
    </p>
  </section>
  </main>
{% endblock %}