.about-title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
}

.about-text {
  margin-top: 2rem;
  line-height: 1.2;
  font-family: helvetica;

  &:first-letter {
    color: #903;
    float: left;
    font-weight: bold;
    font-size: 75px;
    line-height: 0.75;
    padding-right: 8px;
  }
}

.about-pics-container {
  max-width: 400px;
  margin: 0 auto;
}

.about-pics {
  margin-top: 1rem;
  display: flex;
}

// FIRST ROW PICS

.about-pics1 {
  align-items: flex-end;
}

.img-me {
  border-radius: 100%;
  border: 8px dotted $red;
  flex-shrink: 0;
  width: 140px;
  padding: 0.3rem;
}

.img-me__inner {
  width: 100%;
  border-radius: 100%;
}

.img-sky {
  flex-grow: 1;
  width: 10px;
  height: 150px;
  margin-left: 0.6rem;
  border: 10px double #c3f776;
}

// SECOND ROW PICS
.img-sky2 {
  flex-grow: 1;
  width: 10px;
  height: 130px;
  border: 10px inset yellow;
}

.about-pics-inner {
  height: 150px;
  margin-left: 0.5rem;
}

.img-small,
.img-small2 {
  width: 75px;
  height: calc(50% - 0.25rem);
  background-size: cover !important;
}

.img-small {
  background: url("http://4.bp.blogspot.com/-ueMDJccHj5Q/Tlh-m4ISE9I/AAAAAAAAAZA/11wQ_oD6PCc/s1600/Nature-Wallpapers-7.jpg");
  border: 7px ridge $logo;
  border-radius: 100%;
}

.img-small2 {
  margin-top: 0.5rem;
  border: 5px ridge $dark-lav;
  background: url("http://3.bp.blogspot.com/-U4CrbfBTBdo/UexrowBh99I/AAAAAAAAF4c/g-OBX2B8B9E/s1600/Wallpaper%2BEarth%2BFrom%2BSpace-746526.jpg");
}