.contact-btns {
  margin-top: 5rem;
  text-align: center;
  
  @include breakpoint(large-tablet-up) {
    margin-left: 5rem;
    text-align: left;
  }
}

.contact-btn {
  @include Rubik;
  color: #222;
  display: block;
  font-size: rem(70);
  margin: 4rem 1rem;
  text-decoration: underline;
}
