.contact-btns {
  margin-top: 4rem;
  text-align: center;
}

.contact-btn {
  @include Rubik;
  color: #222;
  display: inline-block;
  font-size: rem(70);
  margin: 2rem 1rem;
  text-decoration: underline;
  
  @include breakpoint(large-tablet-up) {
    margin: 2rem 100% 2rem 6rem;
  }
  
  &:hover,
  &:focus {
    color: #fff;
  }
}
