$grid-cols    : repeat(21, 1fr);
$mobile-rows  : 13;
$desktop-rows : 20;

.grid-bg {
  display: grid;
  grid-template: repeat(10, calc((100vh - #{$header-height} - #{$header-height}) / 10)) / $grid-cols;
  position: sticky;
  top: $header-height;
  z-index: -1;
  
  &::before {
    background: #c0b2c7;
    content: '';
    grid-column: 1 / span 10;
    grid-row: 3 / span 6;
  }
  
  &::after {
    background: #c3f776;
    content: '';
    grid-column: 13 / span 9;
    grid-row: 2 / span 9;
  }
  
  &--lab {
    grid-template: repeat(10, calc((100vh - #{$header-height}) / 10)) / $grid-cols;
    top: 0;
  
    &::before {
      background: #fef577;
      grid-column: 1 / span 16;
      grid-row: 4 / span 7;      
      
      @include breakpoint(large-tablet-up) {
        grid-column: 1 / span 14;
      }
    }
    
    &::after {
      background: #7b9750;
      grid-column: 3 / span 6;
      grid-row: 1 / span 3;
      
      @include breakpoint(large-tablet-up) {
        grid-column: 2 / span 6;
      }
    }
    
    .red-strip {
      background: #FE4814;
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
    }
  }
}

.grid {
  display: grid;
  grid-template: repeat($mobile-rows, 25px) / $grid-cols;
  margin: 8rem 0;
  
  @include breakpoint(large-tablet-up) {
    grid-template: repeat($desktop-rows, calc(70vh / #{$desktop-rows})) / $grid-cols;
    margin: 15rem 0;
  }
}

.grid__bg,
.grid__content {
  grid-column: 2 / span 19;
}

.grid__bg {
  grid-row: 1 / span ($mobile-rows - 1);
  
  @include breakpoint(large-tablet-up) {
    height: 0;
    padding-top: 62.5%;
  }
  
  &--pogo,
  &--shop {
    @include breakpoint(large-tablet-up) {
      grid-column: 2 / span 10;
      grid-row: ($desktop-rows + 1- 16);
    }
  }
  
  &--pogo {
    background: url('/images/pogo.png') #2b59c3;
  }
  
  &--whha {
    background: url('/images/whha.png') #5786C0;
    
    @include breakpoint(large-tablet-up) {
      grid-column: 12 / span 10;
      grid-row: 1;
    }
  }
  
  &--shop {
    background: url('/images/shop.png') #f1c8b1;
    background-blend-mode: exclusion !important;
  }
}

.grid__content {
  grid-row: ($mobile-rows + 1);
  
  &--pogo,
  &--shop {
    @include breakpoint(large-tablet-up) {
      grid-column: 13 / span 9;
      grid-row: 1;
    }
  }
  
  &--pogo {
    @include breakpoint(small-tablet-down) {
      background: #2c59c3;
    }
  }
  
  &--whha {
    @include breakpoint(small-tablet-down) {
      background: #5786C0;
    }
    
    @include breakpoint(large-tablet-up) {
      grid-column: 1 / span 9;
      grid-row: 4;
    }
  }
  
  &--shop {
    @include breakpoint(small-tablet-down) {
      background: pink;
    }
  }
}
