$grid-cols    : repeat(21, 1fr);
$mobile-rows  : 13;
$desktop-rows : 20;

.grid-bg {
  bottom: 0;
  display: grid;
  grid-template: repeat(10, calc((100vh - #{$header-height} - #{$header-height}) / 10)) / $grid-cols;
  position: fixed;
  width: 100%;
  z-index: -1;
  
  &::before {
    background: #c0b2c7;
    content: '';
    grid-column: 1 / span 10;
    grid-row: 3 / span 6;
  }
  
  &::after {
    background: #c3f776;
    content: '';
    grid-column: 13 / span 9;
    grid-row: 2 / span 9;
  }
  
  &--lab,
  &--musings {
    grid-template-rows: repeat(10, calc((100vh - #{$header-height}) / 10));
    top: 0;
  }
  
  &--lab {
    &::before {
      background: #fef577;
      grid-column: 1 / span 16;
      grid-row: 4 / span 7;      
      
      @include breakpoint(large-tablet-up) {
        grid-column: 1 / span 14;
      }
    }
    
    &::after {
      background: #7b9750;
      grid-column: 3 / span 6;
      grid-row: 1 / span 3;
      
      @include breakpoint(large-tablet-up) {
        grid-column: 2 / span 6;
      }
    }
    
    .red-strip {
      background: $red;
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
    }
  }
  
  &--contact {
    &::after {
      background: #fef577;
    }
    
    &::before {
      background: #f18264;
    }
  }
  
  &--musings {
    &::after {
      background: #fef577;
      grid-column: 11 / span 17;
      grid-row: 3 / span 8;      
    }
    
    &::before {
      background: #efe68b;
      grid-column: 16 / span 6;
      grid-row: 1 / span 2;
    }
    
    .purple-strip {
      background: #ddb6ff;
      grid-column: 1;
      grid-row: 1 / span 3;
    }
  }
}

.grid-container {
  @include breakpoint(large-tablet-up) {
    margin-top: 9vh;
  }
}

.grid {
  display: grid;
  grid-template: repeat($mobile-rows, 25px) / $grid-cols;
  margin: 8rem 0;
  
  @include breakpoint(large-tablet-up) {
    grid-template-rows: repeat($desktop-rows, calc(80vh / #{$desktop-rows}));
    margin: 15rem 0;
  }
  
  &--first {
    @include breakpoint(large-tablet-up) {
      margin-top: 0;
    }
  }
}

.grid__bg,
.grid__content {
  grid-column: 2 / span 19;
}

.grid__bg {
  grid-row: 1 / span ($mobile-rows - 1);
  
  @include breakpoint(large-tablet-up) {
    height: 0;
    padding-top: 62.5%;
    
    &--whha {
      padding-top: 110%;
    }
    
    &--bethesda,
    &--tnc {
      padding-top: 58%;
    }
    
    &--optify {
      padding-top: 69%;
    }
  }
  
  &--pogo,
  &--shop,
  &--craig,
  &--optify {
    @include breakpoint(large-tablet-up) {
      grid-column: 2 / span 10;
      grid-row: ($desktop-rows + 1- 16);
    }
  }
  
  &--tnc,
  &--whha,
  &--bethesda {
    @include breakpoint(large-tablet-up) {
      grid-row: 1;
    }
  }
  
  &--pogo {
    background: url('/images/work-pogo.jpg') #2b59c3;
  }
  
  &--whha {
    background: url('/images/work-whha.jpg') #5786C0;
    
    @include breakpoint(large-tablet-up) {
      grid-column: 12 / span 7;
      margin-left: 30px;
    }
  }
  
  &--shop {
    background: url('/images/work-shop.jpg') #f1acba;
  }
  
  &--craig {
    background: url('/images/work-craig.jpg') #00a9e0;
  }
  
  &--bethesda {
    background: url('/images/work-bethesda.jpg') #3b4ab8;
    
    @include breakpoint(large-tablet-up) {
      grid-column: 12 / span 9;
    }
  }
  
  &--tnc {
    background: url('/images/work-tnc.jpg') #613e86;
    
    @include breakpoint(large-tablet-up) {
      grid-column: 12 / span 10;
    }
  }
  
  &--optify {
    background: url('/images/work-optify.jpg') #2b59c3;
  }
}

.grid__content {
  grid-row: ($mobile-rows + 1);
  
  &--pogo,
  &--shop,
  &--craig,
  &--optify {
    @include breakpoint(large-tablet-up) {
      grid-column: 13 / span 9;
      grid-row: 1;
    }
  }
  
  
  &--whha,
  &--bethesda,
  &--tnc {
    @include breakpoint(large-tablet-up) {
      grid-column: 2 / span 9;
      grid-row: 3;
    }
  }
  
  &--pogo {
    @include breakpoint(small-tablet-down) {
      background: #2c59ca;
    }
  }
  
  &--whha {
    @include breakpoint(small-tablet-down) {
      background: #5786C0;
    }
  }
  
  &--shop {
    @include breakpoint(small-tablet-down) {
      background: #d37f8d;
    }
  }
  
  &--craig {
    @include breakpoint(small-tablet-down) {
      background: #00a9e0;
    }
  }
  
  &--bethesda {
    @include breakpoint(small-tablet-down) {
      background: #3b4ab8;
    }
  }
  
  &--tnc {
    @include breakpoint(small-tablet-down) {
      background: #613e86;
    }
  }
  
  &--optify {
    @include breakpoint(small-tablet-down) {
      background: #2b59c3;
    }
  }
}
