.header {
  background: #fff;
  border-bottom: $border;
  height: $header-height;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.hero {
  // font-family: 'Rubik', 'Tahoma', 'Helvetica', sans-serif;
  font-size: rem(15);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: 
    transform 
    ($anim-dur / 2) 
    ($anim-dur + 0.05s) 
    cubic-bezier(0.55, 0.085, 0.68, 0.53);

  .active & {
    transform: translateY(-50%);
    transition-delay: $anim-dur + 0.2s
  }
}
