.header {
  background: #fff;
  border: $border;
  border-width: 2px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.hero {
  font-size: rem(15);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
