.lab-gallery {
  margin: rem(50) auto 0;
  max-width: calc(1200px + 4rem);
  padding: 1rem;
}

.lab-figure {
  margin: 2rem 0 2rem auto;
  overflow: hidden;
  position: relative;
  
  @include breakpoint(large-tablet-up) {
    max-width: 600px;
 
    &--carousel02,
    &--layout02 {
      margin-left: 0;
    }
  }
  
  @media screen and (min-width: 500px) {
    &:hover {
      .lab-screen,
      .lab-video {
        opacity: 1;
        transition: opacity 0.2s;
      }
    }
  }
}

.lab-bg {
  background-position: top center;
  background-size: cover;
  height: 0;
  padding-top: 56%;
  
  &--microcosm {
    background-image: url('../images/lab-microcosm.jpg');
  }
  
  &--carousel01 {
    background-image: url('../images/lab-carousel01.jpg');
  }
  
  &--carousel02 {
    background-image: url('../images/lab-carousel02.jpg');
  }
  
  &--layout01 {
    background-image: url('../images/lab-layout01.jpg');
  }
  
  &--layout02 {
    background-image: url('../images/lab-layout02.jpg');
  }
}

.lab-screen,
.lab-video {
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.lab-screen {
  filter: blur(3px);
  transform: scale(1.03)
}

.lab-video {
  transform: scale(0.7);
}
