.lab-gallery {
  margin: rem(50) auto 0;
  max-width: calc(1200px + 4rem);
  padding: 1rem;
}

.lab-figure {
  margin: 2rem 0 2rem auto;
  position: relative;
  overflow: hidden;
  
  @include breakpoint(large-tablet-up) {
    max-width: 600px;
 
    &--carousel02,
    &--layout02 {
      margin-left: 0;
    }
  }
  
  &:hover {
    .lab-screen {
      opacity: 1;
      transform: scale(1.01)
    }
    
    .lab-video {
      opacity: 1;
      transform: scale(0.7);
    }
  }
}

.lab-bg {
  background-position: top center;
  background-size: cover;
  height: 0;
  padding-top: 56%;
  
  &--microcosm {
    background-image: url('/images/lab-microcosm.jpg');
  }
  
  &--carousel01 {
    background-image: url('/images/lab-carousel01.jpg');
  }
  
  &--carousel02 {
    background-image: url('/images/lab-carousel02.jpg');
  }
  
  &--layout01 {
    background-image: url('/images/lab-layout01.jpg');
  }
  
  &--layout02 {
    background-image: url('/images/lab-layout02.jpg');
  }
}

.lab-screen {
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  // transition: 0.15s ease-in;
}

.lab-video {
  position: absolute;
  // max-width: 420px;
  // z-index: 1;
  top: 0;
  // bottom: 0;
  left: 0;
  // right: 0;
  // margin: auto;
  opacity: 0;
  // transition: transform 0.15s ease-in;
  width: 100%;
  transform: scale(0.68);
}
