@keyframes marquee {
  to {
    transform: translateX(-100%)
  }
}

.marquee-container {
  align-items: center;
  display: flex;
  height: $header-height;
  width: 5000px;
}

.marquee {
  animation: marquee 35s linear infinite none;
}