.musings {
  border-bottom: $border;
  
  @include breakpoint(large-tablet-up) {
    display: flex;
    
    &.-slides {
      min-height: 90vh;
    }
  }
}

.musings__sticky {
  @include breakpoint(large-tablet-up) {
    height: 100%;
    max-width: rem(50);
    position: sticky;
    top: 0;
  }
}

.musings__title {
  @include Rubik;
  color: #222;
  letter-spacing: 0.1em;
  padding-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  
  @include breakpoint(large-tablet-up) {
    padding-top: 0;
    transform: rotate(-90deg);
    
    &.-blog {
      margin: 4rem 0;
    }
    
    &.-presentation {
      margin: 10rem 0 4rem;
    }
    
    &.-talks {
      margin: 4.5rem 0 4rem;
    }
  }
}

.musings__content {
  @include smooth;  // TODO: check smoothing
  padding: 2rem;
  
  @include breakpoint(large-tablet-up) {
    border-left: $border;
    padding: 2rem 4rem;
  }
}


// Blogs
.musings__blog {
  margin: 2rem 0;
  
  &:first-child {
    margin-top: 0;
  }
}


// Presentations
.musings__presentations {
  @include breakpoint(large-tablet-up) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.musings__figure {
  margin: 2rem 0;
  
  @include breakpoint(large-tablet-up) {
    margin: 1rem 2rem;
    max-width: 350px;
  }
}

.musings__figure__link {
  @include breakpoint(large-tablet-up) {
    &:hover,
    &:focus {
      .musings__figure__img {
        transform: translateY(-8px);
      }
      
      .musings__figure__content::after {
        transform: translateX(5px);
      }
    }
  }
}

.musings__figure__content {
  position: relative;
  
  &::after {
    background: #7bb75c;
    content: '';
    height: 100%;
    left: 9px;
    position: absolute;
    top: 9px;
    transition: transform 0.2s ease-in;
    width: 100%;
    z-index: -1;
  }
}

.musings__figure__img {
  transition: transform 0.2s ease-in;
}

.musings__figure__caption {
  margin: 1.5rem 0 1rem;
}
