.musings {
  border-bottom: $border;
  
  @include breakpoint(large-tablet-up) {
    display: flex;
  }
}

.musings__sticky {
  @include breakpoint(large-tablet-up) {
    height: 100%;
    position: sticky;
    top: 0;
  }
}

.musings__title {
  @include breakpoint(large-tablet-up) {
    margin: 3rem 0;
    transform: rotate(-90deg);
  }
}

.musings__content {
  padding: 2rem 1rem;
  
  @include breakpoint(large-tablet-up) {
    border-left: $border;
  }
}

.musings__figure {
  &:hover {
    .musings__figure__img {
      transform: translateY(-10px);
    }
    
    .musings__figure__content::after {
      transform: translateX(5px);
    }
  }
}

.musings__figure__content {
  position: relative;
  
  &::after {
    background: #efe68b;
    content: '';
    height: 100%;
    left: 10px;
    position: absolute;
    top: 10px;
    transition: transform 0.25s;
    width: 100%;
    z-index: -1;
  }
}

.musings__figure__img {
  transition: transform 0.25s;
}
