.nav {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  overflow-y: hidden;
}

.nav__item {
  font-size: inherit;
  text-transform: inherit;

  &:hover {
    color: $red;
    text-decoration: underline;
  }
}

@for $i from 0 through 4 {
  .link-#{$i} {
    .active-#{$i} & {
      color: $red;
      text-decoration: underline;
    }
  }
}
