.hero {
  font-size: 18px;
  font-weight: 300;
  transition: ($anim-dur / 2) ($anim-dur + 0.05s) ease-in;

  &.-active {
    transform: translateY(-50%);
  }
}

.nav {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  overflow-y: hidden;
}
