$panel-height   : calc(100vh - #{$header-height});
$preview-height : calc(#{$panel-height} / 5);
$hover-space    : 10px;
$box-shadow     : 0 0 15px 0 rgba(0, 0, 0, 0.4);
$transition-dur : 0.3s;

.panel {
  background: #fff;
  cursor: pointer;
  height: $panel-height;
  position: absolute;
  transition: transform $transition-dur;
  width: 100%;

  &:hover {
    transform: translateY(-$hover-space);
  }

  &.-slide-up {
    transform: translateY(var(--slide-up));
  }

  &.-slide-down {
    transform: translateY(var(--slide-down));
  }

  &.-active {
    cursor: auto;
    overflow-y: scroll;
  }

  &.-slide-up,
  &.-slide-down {
    &::before {
      opacity: 0;
    }
  }

  &::before {
    box-shadow: $box-shadow;
    content: '';
    height: 100vh;
    position: absolute;
    transition: opacity $transition-dur;
    width: 100%;
    z-index: -1;
  }

  &::-webkit-scrollbar { // for chrome/safari
    height: 0;
    width: 0;
  }
}

@for $i from 0 through 4 {
  .panel-#{$i} {
    --slide-up   : calc((#{$preview-height} * #{-$i}));
    --slide-down : calc((#{$preview-height} * (5 - #{$i})));
    top          : calc((#{$preview-height} * #{$i}) + #{$header-height});
    z-index      : $i;
  }
}

.panel-0 {
  background: #c3f776;
  // background: #D0FF71;

  &::before {
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.panel-1 {
  background: url(/images/banner-bg.jpg) #afc084;
  background-size: 30%;
  background-blend-mode: color-burn;
}

.panel-2 {
  background: #f8f4a3;
}

.panel-3 {
  background: url(/images/banner-bg.jpg) #ffbe88;
  background-size: 40%;
  background-blend-mode: color-burn;
  // background: #ffbe88;
}

.panel-4 {
  background: #6f5f79;
}
