@keyframes hideInactive {
  30% {
    opacity: 0;
  }
  
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes slideActive {
  0% {
    transform: $initial-transform;
  }

  100% {
    transform: translateY(var(--up));
  }
}

.panel {
  --slide-active : #{$anim-dur} slideActive none;
  background: #fff;
  box-shadow: $box-shadow;
  cursor: pointer;
  height: calc(100vh - #{$header-height});
  overflow: hidden;
  position: absolute;
  transform: $initial-transform;
  transition: transform $anim-dur $anim-ease;
  width: 100%;

  &:hover {
    transform: translateY(-$hover-space) rotateX(-1.8deg) scale(0.77);
    transition-duration: $anim-dur / 1.75;
  }

  .active &:not(.-active) {
    animation: hideInactive $anim-dur forwards;
  }

  &.-active {
    cursor: auto;
    transform: translateY(var(--up));
  }

  @supports (-webkit-backdrop-filter: initial) { // for Safari  
    @keyframes hideInactive {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 0;
        transform: scale(0);
      }
    }
  
    .active &:not(.-active) {
      transform: $initial-transform;
      transition-duration: 0s;
    }
  }
}

@for $i from 0 through 4 {
  .panel-#{$i} {
    --up    : calc((100px * #{-$i}));
    top     : calc((#{$header-height} + (100px * #{$i})));
    z-index : $i;
  }
}

.panel-0 {
  background: #6f5f79;
}

.panel-1 {
  background: #c3f776;
}

.panel-2 {
  background: #fff8a2;
}

.panel-3 {
  background: #BFBDA7;
}

.panel-4 {
  background: $red;
}

@keyframes allowPointer {
  0% {
    pointer-events: initial;
  }
  100% {
    pointer-events: initial;
  }
}

.panel-inner {
  height: 100%;
  overflow-x: hidden;
  pointer-events: none;
  
  .active & {
    animation: allowPointer 10ms $anim-dur forwards;
    
    @supports (-webkit-backdrop-filter: initial) {
      pointer-events: initial;
    }
  }
}
