$mobile-length  : 70;
$desktop-length : 60;
$mobile-diff    : (100 - $mobile-length) / 5;
$desktop-diff   : (100 - $desktop-length) / 5;

.panel {
  // border-right: 4px solid #000;
  background: #fff;
  box-shadow: 0 0 2em -.5em rgba(#000, 0.5);
  cursor: pointer;
  height: #{$mobile-length}vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: calc(8vw + 10px);
  position: absolute;
  scroll-behavior: smooth;
  transition: transform 0.3s, margin-left 0.3s;
  width: 100vw;

  @include breakpoint(large-tablet-up) {
    width: #{$desktop-length}vw;
    height: 100vh;
  }

  &.-open {
    cursor: auto;
  }

  &.-slide-over {
    transform: translateY(#{$mobile-diff - $mobile-length}vh);

    @include breakpoint(large-tablet-up) {
      transform: translateX(#{$desktop-diff - $desktop-length}vw);
    }
  }

  &::-webkit-scrollbar { // for chrome/safari
    width: 0;
    height: 0;
  }
}

.panel-title {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-90deg);
}

.p-0,
.p-1,
.p-2,
.p-3,
.p-4 {
  &:not(.-open):hover {
    // margin-left: 10px;
  }
}

@for $i from 0 through 6 {
  .p-#{$i} {
    top: #{$i * $mobile-diff}vh;
    z-index: -$i;

    @include breakpoint(large-tablet-up) {
      left: #{$i * $desktop-diff}vw;
      top: 0;
    }
  }
}
