.grid {
  background: #fff;
  border: 5px solid #fff;
  border-width: 5px 0;
  // display: grid;
  grid-gap: 3px;
  grid-template: repeat(50, 50px) / repeat(10, 1fr);

  div:nth-child(1) {
    background: url('/images/pogo.png') #2b59c3;
    grid-row: 1 / span 6;
    grid-column: 1 / span 6;
  }

  div:nth-child(2) {
    background: #345cc3;
    grid-row: 1 / span 6;
    grid-column: 7 / span 4;
  }

  div:nth-child(3) {
    background: #6086c0;
    grid-row: 7 / span 6;
    grid-column: 1 / span 4;
  }

  div:nth-child(4) {
    background: url('/images/whha.png') #5786C0;
    grid-row: 7 / span 6;
    grid-column: 5 / span 5;
  }

  div:nth-child(5) {
    background: #6086c0;
    grid-row: 7 / span 6;
    grid-column: 10;
  }

  div:nth-child(6) {
    background: url('/images/shop.png') #f3d3c1;
    grid-row: 13 / span 6;
    grid-column: 1 / span 6;
  }

  div:nth-child(7) {
    background: #ffc29f;
    grid-column: 7 / span 4;
    grid-row: 13;
  }

  div:nth-child(8) {
    background: #f3d3c1;
    grid-column: 7 / span 4;
    grid-row: 14 / span 5;
  }

  div:nth-child(9) {
    background: lightgray;
    grid-column: 1 / span 4;
    grid-row: 19 / span 3;
  }

  div:nth-child(10) {
    background: lightgray;
    grid-column: 1 / span 4;
    grid-row: 22 / span 3;
  }

  div:nth-child(11) {
    background: lightgray;
    grid-column: 5 / span 6;
    grid-row: 19 / span 6;
  }

  div {
    background-blend-mode: lighten !important;
    background-size: cover !important;
    background-position: center top !important;
  }
}
