// @import "setup/breakpoints";
@import "setup/reset";
@import "setup/typography";
@import "setup/variables";
@import "setup/mixins";
@import "setup/functions";

@import "base/elements";
// @import "base/typography";

// @import "components/utility";
@import "components/header";
@import "components/marquee";
// @import "components/panel";
@import "components/nav";
// @import "components/title";
// @import "components/grid";
// @import "components/work";
// @import "components/lab";
// @import "components/musings";
// @import "components/about";
// @import "components/forecast";
@import "components/signup";
// @import "components/thanks";
// @import "components/carousel";

.img-small {
  background: url("../images/nature.jpg");
}

.img-small2 {
  background: url("../images/space.jpg");
}

.forecast-selector {
  background-image: url('../../images/down-arrow.png');
}

.work-link {
  color: #1500ff;
  text-decoration: underline;
}