body {
  background: #b6b6b6;
  
  @supports (-webkit-backdrop-filter: initial) {
    &.active {
      overflow: hidden;
    }
  }
}

img {
  width: 100%;
}

.main {
  perspective: 100px;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
