body {
  @include Roboto;
}

.label {
  @include Rubik;
  color: #945ec2;
  font-size: rem(13);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.heading {
  display: inline-block;
  font-family: 'Rubik', 'Tahoma', 'Helvetica', sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  margin-top: 0.5rem;
  
  &:hover,
  &:focus {
    color: $red-link;
    text-decoration: underline;
  }
}
