<!doctype html>
<html lang="en-US">
  <head>
    <title>The Astro Forecast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Astro Forecast is an astrology business specializing in forecasting and predictive astrology. Follow on instagram @astro.forecast.">
    <meta itemprop="name" content="The Astro Forecast">
    <meta itemprop="description" content="The Astro Forecast is an astrology business specializing in forecasting and predictive astrology. Follow on instagram @astro.forecast.">
    
    <link rel="stylesheet" href="stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,700" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon32.png">
    <link rel="icon" type="imagepng" sizes="16x16" href="favicon16.png">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
