<!doctype html>
<html>
  <head>
    <title>Cho Hwang | Frontend Developer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chloe Hwang TODO:">
    <meta itemprop="name" content="Cho Hwang | Frontend Developer">
    <meta itemprop="description" content="Chloe Hwang TODO:">
    
    <link rel="stylesheet" href="stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:700,300|Roboto+Mono:300" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon16.png">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="javascripts/app.js" async></script>
  </body>
</html>
