/*
  media query breakpoints loosely modeled after material design breakpoints
  https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints

  0          360          400         600         720         840          960         1280         ...
  | sm mobile | med mobile | lg mobile | sm tablet | lg tablet | sm desktop | md desktop | lg desktop |
  =====================================================================================================
*/

$breakpoints : (
  // small-mobile-down            : 'max-width: 359px',
  // medium-mobile-up             : 'min-width: 360px',
  // medium-mobile-down           : 'max-width: 399px',
  // large-mobile-up              : 'min-width: 400px',
  // large-plus-mobile-down       : 'max-width: 499px',
  // large-plus-mobile-up         : 'min-width: 500px',
  // large-mobile-down            : 'max-width: 599px',
  // small-tablet-up              : 'min-width: 600px',
  // small-tablet-down            : 'max-width: 719px',
  large-tablet-up              : 'min-width: 720px',
  // large-tablet-down            : 'max-width: 839px',
  // small-desktop-up             : 'min-width: 840px',
  // small-desktop-down           : 'max-width: 959px',
  // medium-desktop-up            : 'min-width: 960px',
  // medium-plus-desktop-down     : 'max-width: 1119px',
  // medium-plus-desktop-up       : 'min-width: 1120px',
  // medium-desktop-down          : 'max-width: 1279px',
  // large-desktop-up             : 'min-width: 1280px',
  // extra-large-desktop-up       : 'min-width: 1385px',
  // landscape-small-mobile-down  : 'max-width: 599px',
  // landscape-medium-mobile-up   : 'min-width: 600px',
  // landscape-medium-mobile-down : 'max-width: 719px',
  // landscape-large-mobile-up    : 'min-width: 720px',
  // landscape-large-mobile-down  : 'max-width: 959px',
  // landscape-small-tablet-up    : 'min-width: 960px',
  // landscape-small-tablet-down  : 'max-width: 1023px',
  // landscape-large-tablet-up    : 'min-width: 1024px',
  // landscape-large-tablet-down  : 'max-width: 1279px',
);

// Functions
@function bp($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }

  @warn "Unkown '#{$key}' in $breakpoints.";
  @return null;
}

// Mixins
@mixin breakpoint($expression) {
  @if (str-index($expression, 'landscape')) {
    @media (bp($expression)) and (orientation: landscape) {
      @content;
    }
  } @else if (str-index($expression, '-up')) {
    // allow this breakpoint to be applied to print
    @media print, (bp($expression)) {
      @content;
    }
  } @else if (str-index($expression, 'small-tablet-down')) {
    // prevent this breakpoint from being applied to print
    @media screen and (bp($expression)) {
      @content;
    }
  } @else {
    @media (bp($expression)) {
      @content;
    }
  }
}

@mixin range($start, $end) {
  @media (bp($start)) and (bp($end)) {
    @content;
  }
}
