.blog-listing__title {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px !important;
}

.tag {
  padding: 6px 9px;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.sidebar__panel {
  padding: 15px;
}

.blog-listing__media > a > img {
  height: 100%;
}

.blog-post-body__title {
  font-size: 50px;
}

.blog-post-body__media {
  max-height: 200px;
  overflow: hidden;
}

.blog-post-body__panel {
  padding: 0;
  overflow: hidden;
}

.blog-post-body__info {
  padding: 15px 30px;
}

.blog-post-body__content {
  padding: 0 30px 30px;
}

.blog-post-body .col-lg-9 {
  max-width: 60%;
}

.blog-post-body .row {
  justify-content: center;
}

.link-list__links,
.link-list__title {
  font-size: 15px;
  font-style: italic;
}

/* This creates bigger spacing between the main navigation menu items */

.header__content--desktop .link-list__link {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

/* This underlines the main navigation menu items when hovering over them */

.header a.link-list__link:hover {
  text-decoration: underline !important;
}

/* Header links */

.header__content {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.header__content--desktop {
  padding: 10px 0;
}


/* Heading stars */

.CH--heading::before{content:'';position:absolute;z-index:-1;width:10rem;height:1.2rem;background:#d3b0fc;left:0;bottom:0.1rem;right:0;margin:0 auto}

.CH--heading-shop::before{width:11rem;background:url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/site/2147500476/products/woPjJ7eQRJqHUrzSDcEv_Untitled_design_3_.png");background-size:cover}

@media only screen and (min-width: 768px){
  .CH--heading::before{width:15rem;height:1.5rem}
  .CH--heading-shop::before{width:17rem}
  .CH--left-star{left:-3rem !important;width:36px !important}
  .CH--right-star{bottom:-2rem !important;right:-3.75rem !important;width:50px !important}
  .card__title,.product__title{min-height:3.15rem}
}

.product > a:hover{filter: none}

// .product__image{overflow:hidden}

// .product__image > img{transition:0.2s ease-out}

// .product__image > img:hover{transform:scale(1.05)}

