// Imports
@mixin font-face($name, $filename, $style: normal, $weight: normal) {
  @font-face {
    font-family: #{$name};
    font-style: $style;
    font-weight: $weight;
    src: url("../fonts/#{$filename}.ttf") format("truetype");
  }
}

// Mixins
@mixin Rubik {
  font-family: 'Rubik', 'Tahoma', 'Helvetica', sans-serif;
  font-weight: 700;
  
}

@mixin Roboto {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}
